/* Debug */
.g {
    background: chartreuse;
}
.m {
    background: magenta;
}
.y {
    background: yellow;
}
.o {
    background: orange;
}
.ws {
  background: whitesmoke;
}

/* Color */
.nav-dark, .nav-dark a, .nav-dark strong {
  background: #2f2f2f !important;
  color: whitesmoke;
}
.nav-toggle span {
    background-color: whitesmoke;
}
.nav-toggle:hover span {
    background-color: #2f2f2f;
}

/* Flexbox structure */
.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main.wrap {
    flex: 1;
}
.wrap {
    display: flex;
    justify-content: center;
}
.inner {
    flex-basis: 1000px;
    padding: 16px;
}

/* Sticky Navbar */
.nav {
    position: fixed;
    width: 100%;
}
.main.wrap {
    margin-top: 50px;
}

/* Return Arrow */
.return {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #2f2f2f;
    border-radius: 8px;

    bottom: 36px;
    right: 12px;
}
.return:hover {
    cursor: pointer;
}
.return span {
    border: 20px solid whitesmoke;
    border-radius: 2px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    position: relative;
    top: -10px;
    left: 5px;
}
.is-hidden {
    display: none;
}

/* Footer */
footer {
    height: 120px !important;
}
footer .inner {
    margin: auto;
}
